body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
}

.back-link {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.title {
  text-align: right;
  font-size: 24px;
  color: #555;
  font-weight: bold;
}

.slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.photo-frame {
  flex: 0 0 auto;
  width: 600px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
 
  font-family: 'Noto Sans Bengali', sans-serif;
  text-align: justify;
  font-size: 16px;
  color: #333;
  }

.next-button, .prev-button {
  position: absolute;
  bottom: 20px;
    border: none;
  background-color: #f0f0f0;
  color: #708090;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
    transition: background-color 0.1s;
}

.next-button:hover, .prev-button:hover {
  background-color: #f0f0f0;
}

.next-button {
  right: 20px;
}

.prev-button {
  left: 20px;
}

.slide-number {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .slider {
    flex-direction: column;
  }
  .photo-frame {
    width: 100%;
    margin-bottom: 20px; /* Add space between the image and the description */
  }
  .description {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
  }


  .nav-buttons {
    justify-content: center;
  }

  .next-button, .prev-button {
    width: auto;
    position: relative;
    margin-bottom: 10px;  /* Reduced margin-bottom for a balanced look */
  }

  .slide-number {
    margin: 0 10px;
  }
}