<h3>Contents</h3>

<nav>
<a href="/teaching/workshop/DeepEarth/index.html">Home</a>
<a href="/teaching/workshop/DeepEarth/resources.html">Resources</a>
</nav>

<hr>

<h3>Links</h3>

<div class="icons">

<a href="https://yourwebsite.com" target="_blank">
<i class="fas fa-globe"></i>
</a>

<a href="https://orcid.org/0000-0000-0000-0000" target="_blank">
<i class="fab fa-orcid"></i>
</a>

<a href="https://scholar.google.com/citations?user=XXXX" target="_blank">
<i class="fas fa-graduation-cap"></i>
</a>

<a href="mailto:your@email.com">
<i class="fas fa-envelope"></i>
</a>

</div>