<h3>Contents</h3>

<nav>
<a href="/teaching/workshop/DeepEarth/index.html">Home</a>
</nav>





<div class="icons">

<a href="https://jyotirmoyp.github.io/" target="_blank">
<i class="fas fa-globe"></i>
</a>

<a href="https://orcid.org/0000-0002-7972-1868" target="_blank">
<i class="fab fa-orcid"></i>
</a>

<a href="https://scholar.google.co.in/citations?user=jqL2PHkAAAAJ&hl=en" target="_blank">
<i class="fas fa-graduation-cap"></i>
</a>

<a href="mailto:jyotirmpy.paul@geo.uio.com">
<i class="fas fa-envelope"></i>
</a>

</div>